* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
  position: relative;
  z-index: 10;
  @media (max-width:1024) {
    max-width: 100%;
  }
}
.header{
    padding: 10px 10px;
    position: sticky;
}
section{
    padding: 10px 10px;
}
.header-form{
    display: flex;
    justify-content: space-between;
}
.cards-list{
    display: flex;
    flex-wrap: wrap;
}
.cards-item{
    margin: 0 10px 0;
}
.cards-bottom{
    display: flex;
}
.cards-bottom-left{
    width: 50%;
    span {
        display: block;
    }
}
.cards-img{  
    width: 260px;
    height: 300px;
    border: 0 solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto 30px;
    img {
        width: 100%;
        height: 100%;
    }
}
.cards-main{
    position: relative;
}
.cards-main-form{
    position: absolute;
    left: 0;
    top: 86%;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.discount{
    border: 1px black solid;
    border-radius: 100%;
    background-color: #fff;
    padding: 10px 5px;
}
.cart_wrapper{
    background-color: black;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 15;
    display: none;
}
.active{
    display: block;
}
.buttto_cart_exet{
    width: 50px;
    height: 50px;
}